<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/imports :: headTags}"></th:block>

<body>
    <th:block th:replace="~{fragments/header :: navbar('Admin Dashboard')}">
    </th:block>
    <main class="my-5">
        <section>
            <div class="container">
                <h1>Company List</h1>
                <!-- inserirei barra ricerca con filtri  -->
                <form th:action="@{/admin}" th:method="GET">
                    <div class="container-fluid">

                        <div class="">
                            <div class="mb-3 w-50">
                                <label for="" class="form-label">Search</label>
                                <input type="text" class="form-control" name="name" id="" aria-describedby="helpId"
                                    placeholder="" th:value="${name}" required />
                                <small id="helpId" class="form-text text-muted">Search a company by name</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>

                            <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                                Filters
                            </button>

                        </div>

                        <div class="collapse my-3" id="collapseForm">
                            <div class="card card-body w-25">
                                <form th:action="@{/admin}" th:method="GET">
                                    <div class="mb-3
                    ">
                                        <label for="" class="form-label">Email</label>
                                        <input type="text" class="form-control" name="email" id=""
                                            aria-describedby="helpId" placeholder="" th:value="${email}" />
                                        <small id="helpId" class="form-text text-muted">Search by email</small>
                                    </div>

                                    <div class="mb-3
                    ">
                                        <label for="" class="form-label">phone</label>
                                        <input type="text" class="form-control" name="phone" id=""
                                            aria-describedby="helpId" placeholder="" th:value="${phone}" />
                                        <small id="helpId" class="form-text text-muted">Search by phone</small>
                                    </div>

                                    <div>
                                        <label for="">Select a date interval</label>
                                        <div class="mb-3
                    ">
                                            <label for="" class="form-label">Start date</label>
                                            <input type="datetime-local" class="form-control" name="startDate" id=""
                                                aria-describedby="helpId" placeholder="" th:value="${startDate}" />
                                            <small id="helpId" class="form-text text-muted">Select a start
                                                date</small>
                                        </div>

                                        <div class="mb-3
                    ">
                                            <label for="" class="form-label">End date</label>
                                            <input type="datetime-local" class="form-control" name="endDate" id=""
                                                aria-describedby="helpId" placeholder="" th:value="${endDate}" />
                                            <small id="helpId" class="form-text text-muted">Select an end
                                                date</small>
                                        </div>
                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-primary">Apply</button>
                                        <a class="btn btn-dark" th:href="@{/admin}">Reset Filters</a>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </form>

                <table th:if="${companies.size() > 0}" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Number Of Services</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="company : ${companies}" th:object="${company}">
                            <tr>
                                <td>[[*{getName}]]</td>
                                <td>[[*{getEmail}]]</td>
                                <td>[[*{getPhone}]]</td>
                                <td>[[*{getServices().size()}]]</td>
                                <td>[[*{getCreatedAt}]]</td>
                                <td class="d-flex align-items-center justify-content-center gap-4">
                                    <a class="btn btn-primary" href=""><i class="bi bi-eye-fill"></i></a>
                                    <a class="btn btn-warning" href=""><i class="bi bi-pencil"></i></a>
                                    <!-- inserire in modale -->
                                    <form action="">
                                        <button class="btn btn-danger" type="submit"><i
                                                class="bi bi-file-earmark-x-fill"></i></button>
                                    </form>
                                </td>


                            </tr>
                        </div>
                    </tbody>
                </table>
                <div th:unless="${companies.size() > 0}">
                    <h2 class="text-muted">No result Found</h2>
                </div>

                <div class="w-100 d-flex align-items-center justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            </li>
                            <th:block th:each="page : ${totalPages}">
                                <li class="page-item"><a class="page-link"
                                        th:href="@{/admin?page={p}(p = ${page})}">[[${page} + 1]]</a></li>
                            </th:block>
                        </ul>
                    </nav>
                </div>



            </div>

        </section>
    </main>

    <th:block th:replace="~{fragments/footer :: footer}">
    </th:block>
    <th:block th:replace="~{fragments/imports :: scripts}"></th:block>
</body>

</html>