<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/imports :: headTags}"></th:block>




<body>
    <th:block th:replace="~{fragments/header :: navbar('Admin Dashboard')}">
    </th:block>


    <main class="my-5">
        <div class="container">
            <h1 th:unless="${isEdit}">Create a new company</h1>
            <h1 th:if="${isEdit}">Edit company details</h1>



            <form th:action="${isEdit ? '/admin/company/update' : '/admin/company/store'}" th:method="POST"
                th:object="${company}">

                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="" class="form-label">Name</label>
                    <input th:field="*{name}" type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Cutsom s.r.l" th:errorClass="is-invalid" required />
                    <small th:unless="${#fields.hasErrors('name')}" id="helpId" class="form-text text-muted">Insert
                        name</small>
                    <small th:if="${#fields.hasErrors('name')}" th:each="err : ${#fields.errors('name')}"
                        th:text="${err}" id="helpId" class="form-text text-muted invalid-feedback"></small>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Description</label>
                    <input th:field="*{description}" type="text" class="form-control" name="" id=""
                        aria-describedby="helpId" placeholder="Business that makes people happy"
                        th:errorClass="is-invalid" required />
                    <small th:unless="${#fields.hasErrors('description')}" id="helpId"
                        class="form-text text-muted">Insert
                        Description</small>
                    <small th:if="${#fields.hasErrors('description')}" th:each="err : ${#fields.errors('description')}"
                        th:text="${err}" id="helpId" class="form-text text-muted invalid-feedback"></small>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input th:field="*{email}" type="email" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="business@domain.com" th:errorClass="is-invalid" required />
                    <small th:unless="${#fields.hasErrors('email')}" id="helpId" class="form-text text-muted">Insert
                        Email</small>
                    <small th:if="${#fields.hasErrors('email')}" th:each="err : ${#fields.errors('email')}"
                        th:text="${err}" id="helpId" class="form-text text-muted invalid-feedback"></small>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Phone</label>
                    <input th:field="*{phone}" type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="+393464635447" th:errorClass="is-invalid" required />
                    <small th:unless="${#fields.hasErrors('phone')}" id="helpId" class="form-text text-muted">Insert
                        Phone</small>
                    <small th:if="${#fields.hasErrors('phone')}" th:each="err : ${#fields.errors('phone')}"
                        th:text="${err}" id="helpId" class="form-text text-muted invalid-feedback"></small>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">P.IVA</label>
                    <input th:field="*{pIva}" type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="IT12345678901" th:errorClass="is-invalid" required />
                    <small th:unless="${#fields.hasErrors('pIva')}" id="helpId" class="form-text text-muted">Insert
                        P.IVA</small>
                    <small th:if="${#fields.hasErrors('pIva')}" th:each="err : ${#fields.errors('pIva')}"
                        th:text="${err}" id="helpId" class="form-text text-muted invalid-feedback"></small>
                </div>


                <!-- users form for create  -->
                <div th:unless="${isEdit}" class="container card p-4 shadow my-5">
                    <h3>Add an admin user</h3>
                    <p>You need at least one admin user (max 5)</p>
                    <div action="" class="d-flex alig-items-center justify-content-center" th:object="${user}">
                        <div id="user-container"></div>
                    </div>

                    <div class="w-100 text-center my-5">
                        <button id="addUserBtn" type="button" class="btn btn-success"><i
                                class="bi bi-file-plus-fill"></i></button> <br>
                    </div>
                </div>

                <div th:each="user, iterStat : ${company.users}">
                    <input type="text" th:name="'users[' + ${iterStat.index} + '].username'"
                        th:value="${user.username}" />
                </div>


                <!-- users form for edit  -->
                <div th:if="${isEdit}" class="container card p-4 shadow my-5">
                    <h3>Edit the admin users</h3>
                    <p>You need at least one admin user (max 5)</p>

                    <div>
                        <div class="d-flex flex-column" th:each="user, iterStat : ${company.users}">
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input th:name="'users[' + ${iterStat.index} + '].username'" th:value="${user.username}"
                                    type="email" class="form-control" th:errorClass="is-invalid"
                                    placeholder="business@domain.com" required />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input th:name="'users[' + ${iterStat.index} + '].email'" th:value="${user.email}"
                                    type="email" class="form-control" th:errorClass="is-invalid"
                                    placeholder="email@example.com" required />
                                <small th:unless="${#fields.hasErrors('users[' + iterStat.index + '].email')}"
                                    class="form-text text-muted">Insert email</small>
                                <small th:if="${#fields.hasErrors('users[' + iterStat.index + '].email')}"
                                    th:each="err : ${#fields.errors('users[' + iterStat.index + '].email')}"
                                    th:text="${err}" class="form-text text-muted invalid-feedback"></small>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input th:name="'users[' + ${iterStat.index} + '].password'" th:value="${user.password}"
                                    type="text" class="form-control" th:errorClass="is-invalid"
                                    placeholder="Enter password" required />
                                <small th:unless="${#fields.hasErrors('users[' + iterStat.index + '].password')}"
                                    class="form-text text-muted">Insert password</small>
                                <small th:if="${#fields.hasErrors('users[' + iterStat.index + '].password')}"
                                    th:each="err : ${#fields.errors('users[' + iterStat.index + '].password')}"
                                    th:text="${err}" class="form-text text-muted invalid-feedback"></small>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="w-100 text-center my-5">
                        <button id="addUserBtn" type="button" class="btn btn-success">
                            <i class="bi bi-file-plus-fill"></i> Add User
                        </button>
                    </div> -->
                </div>



                <button type="submit" class="btn btn-primary w-100">Save</button>

            </form>




        </div>
    </main>


    <th:block th:replace="~{fragments/footer :: footer}">
    </th:block>
    <th:block th:replace="~{fragments/imports :: scripts}"></th:block>
    <th:block th:if="${!isEdit}">
        <script src="/generateUserForm.js"></script>
    </th:block>

</body>



</html>