<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="breadcrumb(list)">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:each="item, iterStat : ${breadcrumb}"
                th:classappend="${iterStat.last} ? 'breadcrumb-item active' : 'breadcrumb-item'">
                <a th:if="${!iterStat.last}" th:href="${item.url}" th:text="${item.label}"></a>
                <span th:if="${iterStat.last}" th:text="${item.label}"></span>
            </li>
        </ol>
    </nav>

</th:block>


</html>


