<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace=" ~{fragments/imports :: headTags}">
</th:block>

<body>
    <th:block th:replace="~{fragments/header :: navbar('Admin Dashboard')}">
    </th:block>

    <main>
        <div class="container my-5 text-center">
            <h1>Benvenuto <span sec:authentication="principal.username" class="fst-italic me-2"></span>
            </h1>

            <a sec:authorize="isAnonymous()" class="btn btn-primary" th:href="@{/login}">login</a>

            <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary" th:href="@{/admin/company}">Dashboard</a>
            <a sec:authorize="!hasAuthority('ADMIN')" class="btn btn-primary" th:href="@{/logout}">
                you don't have permission to access this area, please logout
            </a>
        </div>


    </main>


    <th:block th:replace="~{fragments/footer :: footer}">
    </th:block>
    <th:block th:replace="~{fragments/imports :: scripts}"></th:block>

</body>



</html>